@model Biblioteka.Wydawnictwo

@{
    ViewBag.Title = "Details";
}

<h2>Dane wydawnictwa</h2>

<div>
    <h4>Wydawnictwo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdWydawnictwo }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
