@model Biblioteka.Egzemplarz

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń egzemplarz</h2>
<h3>Czy na pewno chcesz usunąć następujący egzemplarz?</h3>


<div>
    <h4>Egzemplarz:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ksiazka.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ksiazka.Tytul)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
