@model Biblioteka.Egzemplarz

@{
    ViewBag.Title = "Details";
}

<h2>Dane egzemplarza</h2>

<div>
    <h4>Egzemplarz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ksiazka.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ksiazka.Tytul)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdEgzemplarz }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
